<p>Hi! You are receiving this message because you have
  registered to attend to <strong>
    {{event_name}}</strong>, being held on {{event_dates}}.</p>\n
<p>Please <em>follow this link to confirm your email
    address:</em>
  <br />\n
  <a href="{{confirm_url}}">{{confirm_url}}</a></p>\n
  {% if payment_required %}
    <p>We will send you your ticket after we confirm your payment. Here are the details:</p>
    <br />\n
    {{ payment_method_text|safe }}
  {% else %}
    <p>We will send you your ticket after your email is confirmed.</p>
  {% endif %}
<p>If you encounter any issue, please contact the event organizer in
  <a href="{{ event_contact_url }}">{{ event_contact_url }}</a>.</p>\n
<p>Happily yours,<br />\n
  {{ event_name }} and <em>eventoL</em> team</p>
